/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 4rem;
  /*===== Colores =====*/
  --first-color: #3785F9;
  --light-color: #D2E3FC;
  --dark-color: #000000;
  --dark-color-alt: #5E6063;
  --white-color: #fff;
  --orange-color: #F88646;
  --light-orange: #F9F5EC;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --font-nunito: 'Nunito Sans', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;

  max-width: 100%;
  overflow-x: hidden;
}

section {

  max-width: 100%;

  box-sizing: border-box;
}

.container-fluid {
  width: min(100%, 950px);
  margin: 0 auto;
  padding: 0;
}


/*===== first content css =====*/

#cons {
  max-height: 100%;

}

.cons {
  display: block;
}

.columntwo {
  position: relative;
  width: 100%;
  padding: 4%
}

.columntwo p {
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1rem;
  color: #2c2b2b;
  width: 30rem;
  margin-left: 7rem;

}

.rectangle {
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  background-color: var(--light-color);
  border-bottom-left-radius: 200px;
}

.model img {
  height: 80%;
  width: 90%;
  margin-left: 2rem;
}

#columnOne {
  padding-top: 10rem;

}

.columntwo {
  padding-top: 5rem;

}

#columnOne h2 {
  color: var(--first-color);
  font-weight: bold;
  font-size: 3.2rem;
  padding-left: 20%;

}

#columnOne span {
  color: var(--orange-color);
  font-weight: bold;

}

#columnOne p {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--dark-color-alt);
  padding-left: 20%;
}

.about-dalino {
  width: 35rem;
}

/*===== 2 button =====*/



#boton {
  padding-left: 10%;
  padding-top: 1.8rem;
}

#columnOne .btn-get-started {
  font-family: var(--body-font);
  font-weight: var(--normal-font-size);
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 50px;
  transition: 0.3s;
  color: var(--white-color);
  background: var(--first-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 0px solid rgba(255, 255, 255, 0.1);
  margin-left: 4rem;
}

#columnOne .btn-get-started:hover {
  border-color: rgb(47, 106, 244);
  background-color: rgb(47, 106, 244);
}



#columnOne .btn-get-appointment {

  font-family: var(--body-font);
  font-weight: var(--normal-font-size);
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 50px;
  transition: 0.3s;
  color: var(--white-color);
  background: var(--orange-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);

}

#columnOne .btn-get-appointment:hover {
  border-color: rgb(194, 94, 2);
  background-color: rgb(194, 94, 2);
}

/*===== card =====*/

#card-one {
  box-shadow: 0 7px 4px rgba(126, 175, 249, 0.4);
  margin-left: 9rem;
  margin-top: 10%;
  padding: 1%;
  height: 8rem;
  border-radius: 10px;
  border-color: var(--light-color);
  width: 24rem;

}

#card-one-body {
  margin: 0 auto;
  padding: 4%;
  width: 23rem;
  border: 2px solid rgba(98, 96, 96, 0.553);
  border-radius: 10px;
}

#card-one h5 {
  font-weight: lighter;
  font-size: 12px;
  color: var(--dark-color-alt);

}

/*===== MEDIA QUERIES =====*/
/* tablet */
@media screen and (max-width: 760px) {

  ::before,
  ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: 500;
  }

  .container-fluid {
    margin: 0 auto;
    padding: 0;
  }


  #columnOne {
    width: 100%;
  }


  #columnOne h2 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-top: 1.5rem;
    font-size: clamp (14px, 3vw, 24px);
  }

  #columnOne p {
    margin: 0 auto;
    padding: 0;
    margin-top: 1.5rem;
    text-align: center;
  }

  #boton {
    margin: 0 auto;
    padding: 0;
    width: 100%;

  }

  #columnOne .btn-get-started {
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
    font-weight: var(--normal-font-size);
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    display: fixed;
    padding: 15px 20px;
    border-radius: 50px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--first-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 0px solid rgba(255, 255, 255, 0.1);
    margin-left: 9rem;

  }

  #columnOne .btn-get-started:hover {
    border-color: rgb(47, 106, 244);
    background-color: rgb(47, 106, 244);
  }

  #columnOne .btn-get-appointment {
    margin: 0 auto;
    padding: 0;

    font-family: var(--body-font);
    font-weight: var(--normal-font-size);
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 50px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--orange-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-left: -0.1rem;
  }

  .App-sched {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 2rem;
  }

  #card-one {
    margin: 0 auto;

  }
}

@media screen and (max-width: 1080px) {
  #columnOne p {
    font-size: 15px;
    width: auto;
  }

  .columntwo p {
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 1.3rem;
    color: #2c2b2b;
    width: auto;
    margin: auto;
  }

  body {
    overflow: auto;
  }

  section {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #boton {
    margin: 0 auto;
    padding: 1rem;
    width: auto;
    /* padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px; */
    padding-top: 1rem;
  }

  #columnOne {
    padding: 0;
    margin: 0 auto;

    padding-top: 2rem;
  }

  .columntwo {
    padding-top: 0.5rem;

  }

  #columnOne .btn-get-started {
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
    font-weight: var(--normal-font-size);
    font-size: 13px;
    text-decoration: none;
    display: fixed;
    padding: 10px 10px;
    border-radius: 20px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--first-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 0px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    max-width: auto;
  }

  #columnOne .btn-get-appointment {
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
    font-weight: var(--normal-font-size);
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 20px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--orange-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-left: -0.20rem;
    text-align: center;
    max-width: auto;
  }

  #columnOne .btn-get-started:hover {
    border-color: rgb(47, 106, 244);
    background-color: rgb(47, 106, 244);
  }

  #card-one {
    width: 85%;

  }

  #card-one-body {
    width: 100%;
  }

  #scroll {
    margin-left: 1rem;
    width: auto;
  }

  #more-about {
    width: auto;
    margin-left: 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #get {
    margin: 0 auto;
    padding-right: 30rem;
  }

  #get-feed {
    margin: 0;
    margin-left: 80px;
    margin-top: 9px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rectangle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    border-bottom-left-radius: 0px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .model img {
    height: 80%;
    width: 83%;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .columntwo p {
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    font-size: 1rem;
    color: #2c2b2b;

  }

  .content_two p {
    padding-right: 10px;
    width: 100%;
  }


  #specialize h3 {
    margin: 0 auto;
    padding-left: 1.5rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .content-two .btn-get-started {
    font-family: var(--body-font);
    font-weight: var(--small-font-size);
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 20px;
    width: 50%;
    border-radius: 50px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--first-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 0px solid rgba(255, 255, 255, 0.1);
    margin-left: 8rem;
  }

  #about-row {
    margin: 0 auto;
    padding: 0;
    margin-left: 2rem;
  }

  .social-links {
    display: none;
  }

  #mapa h5 {
    margin-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }


  iframe {
    margin-left: 2rem;
    width: 120%;
    height: 450px;
    filter: invert(100%);
  }

  .end-footer p {
   padding-bottom: 5rem;
  }

  .content-two h3 {
    text-align: left;
    font-size: 25px;
  }

  .services-title {
    margin-left: 7rem;

  }

  .feedback-title {
    padding-top: 1rem;
    text-align: center;
  }

  p.services-title {
    text-align: left;
    
  }

  .columntwo p {
    font-size: var(--small-font-size);
  }

  .about-dalino {
    width: 20rem;
  }
  
}



/* jezzyrel */
/* tablet */
@media screen and (max-width: 768px) {
  #columnOne p {
    font-size: 15px;
    width: auto;
  }

  .columntwo p {
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 1.3rem;
    color: #2c2b2b;
    width: auto;
    margin: auto;
  }

  body {
    overflow: auto;
  }

  section {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #boton {
    margin: 0 auto;
    padding: 1rem;
    width: auto;
    /* padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px; */
    padding-top: 1rem;
  }

  #columnOne {
    padding: 0;
    margin: 0 auto;



    padding-top: 2rem;
  }

  .columntwo {
    padding-top: 0.5rem;

  }

  #columnOne .btn-get-started {
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
    font-weight: var(--normal-font-size);
    font-size: 13px;
    text-decoration: none;
    display: fixed;
    padding: 10px 10px;
    border-radius: 20px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--first-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 0px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    max-width: auto;
  }

  #columnOne .btn-get-appointment {
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
    font-weight: var(--normal-font-size);
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 20px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--orange-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-left: -0.20rem;
    text-align: center;
    max-width: auto;
  }

  #columnOne .btn-get-started:hover {
    border-color: rgb(47, 106, 244);
    background-color: rgb(47, 106, 244);
  }

  #card-one {
    width: 85%;

  }

  #card-one-body {
    width: 100%;
  }

  #scroll {
    margin-left: 1rem;
    width: auto;
  }

  #more-about {
    width: auto;
    margin-left: 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #get {
    margin: 0 auto;
    padding-right: 30rem;
  }

  #get-feed {
    margin: 0;
    margin-left: 80px;
    margin-top: 9px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rectangle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    border-bottom-left-radius: 0px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .model img {
    height: 80%;
    width: 83%;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .columntwo p {
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    font-size: 1rem;
    color: #2c2b2b;

  }

  .content_two p {
    padding-right: 10px;
    width: 100%;
  }


  #specialize h3 {
    margin: 0 auto;
    padding-left: 1.5rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .content-two .btn-get-started {
    font-family: var(--body-font);
    font-weight: var(--small-font-size);
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 20px;
    width: 50%;
    border-radius: 50px;
    transition: 0.3s;
    color: var(--white-color);
    background: var(--first-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 0px solid rgba(255, 255, 255, 0.1);
    margin-left: 8rem;
  }

  #about-row {
    margin: 0 auto;
    padding: 0;
    margin-left: 2rem;
  }

  .social-links {
    display: none;
  }

  #mapa h5 {
    margin-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }


  iframe {
    margin-left: 2rem;
    width: 120%;
    height: 450px;
    filter: invert(100%);
  }

  .end-footer p {
   padding-bottom: 5rem;
  }

  .content-two h3 {
    text-align: left;
    font-size: 25px;
  }

  .services-title {
    margin-left: 7rem;

  }

  .feedback-title {
    padding-top: 1rem;
    text-align: center;
  }

  p.services-title {
    text-align: left;
  }

  .columntwo p {
    font-size: var(--small-font-size);
  }

  .about-dalino {
    width: 20rem;
  }
  
}


iframe {
  width: 80%;
  height: 450px;
  filter: invert(100%);
}

/*===== Second content =====*/

.content-two {
  width: min(100%, 1020px);
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2rem;
}

.content-two p {
  color: var(--orange-color);
  font-weight: bolder;
  font-size: 22px;
}

.content-two h3 {
  font-size: 35px;
  font-weight: bolder;
  margin-left: 1.5rem;
}

.content-two .btn-get-started {
  font-family: var(--body-font);
  font-weight: var(--small-font-size);
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 20px;
  width: 50%;
  border-radius: 50px;
  transition: 0.3s;
  color: var(--white-color);
  background: var(--first-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 0px solid rgba(255, 255, 255, 0.1);
  margin-left: 10rem;
}

.content-two .btn-get-started:hover {
  border-color: rgb(47, 106, 244);
  background-color: rgb(47, 106, 244);
}

.content-two .card-title {
  font-size: var(--normal-font-size);
  font-weight: bold;
  color: var(--first-color);
}

.content-two .card-text {

  font-size: var(--small-font-size);
  color: var(--first-color);
}

#slider {
  margin: 0 auto;
  width: 100%;
  background-color: var(--white-color);
  height: 400px;
}

.owl-carousel {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
}

.services-title {
  margin-left: 1.5rem;
}

.service-btn label {
  display: flex;
  justify-content: center;
  align-items: center;

}

.service-btn {
  height: 5rem;
}

#item-one {
  height: 27.5rem;
  padding: 5%;
  background-color: var(--white-color);
}


#owl-card {
  background-color: var(--light-orange);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 5%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


#owl-card p {
  color: var(--first-color);
  font-size: var(--small-font-size);

}

#owl-card h5 {
  color: var(--dark-color);
  font-size: var(--small-font-size);
}

#owl-card-body {
  width: 100%;
  height: 65%;
  border-radius: 20px;
}


#owl-card-body img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#owl-card-two {
  background-color: var(--light-color);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 5%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#owl-card-two p {
  color: var(--first-color);
  font-size: var(--small-font-size);
}

#owl-card-two h5 {
  color: var(--dark-color);
  font-size: var(--small-font-size);
}



/*===== Third content =====*/

.feedback {
  background-color: var(--light-orange);
  height: auto;
  width: 100%;
  padding: 5%;
  margin: 0 auto;
}

.feedback-title {
  color: var(--orange-color);
  font-weight: var(--normal-font-size);
}

.feedback .btn-get-feedback {
  font-family: var(--body-font);
  font-weight: var(--small-font-size);
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 15px;
  width: 50%;
  border-radius: 50px;
  transition: 0.3s;
  color: var(--white-color);
  background: var(--orange-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 0px solid rgba(255, 255, 255, 0.1);
  margin-left: 10rem;
}

.card-container {
  margin: 0 auto;
  padding: 0;
  height: 30rem;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 8px rgba(10, 17, 15, 0.2);
  background-color: #fff;
  background-image: url('../image/dental-workplace.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*===== About-Us =====*/
.about-us {
  margin: 0 auto;
  padding: 7%;

}

#about-row {
  margin: 0 auto;
  padding: 0;
}

.about {
  font-weight: bold;
  font-family: var(--font-nunito);
  color: var(--orange-color);
  font-size: 1.2rem;
}

.contact-info {
  font-weight: bold;
  font-family: var(--font-nunito);
  color: var(--orange-color);
  font-size: 1.2rem;
}

.icon-about li {
  margin-block: 0.5rem;
}

.icon-about a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-color: var(--first-color);
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.icon-about a:hover {
  color: var(--orange-color);
  border-color: var(--orange-color);
}

.icon-about ion-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--first-color);
  padding: 7px;
}

.icon-about ion-icon:hover {
  color: var(--orange-color);
  border-color: var(--orange-color);
}

.container-column {
  display: flex;

}

.column-small {
  flex-basis: 0;
}

.social-link li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-color: var(--first-color);
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  padding-left: 7.5px;
  padding-top: 0.2rem;
  margin-block: 7px;
}

.social-link li:hover {
  color: var(--orange-color);
  border-color: var(--orange-color);
}

.social-link ion-icon {
  height: 2rem;
  width: 1.5rem;
  color: var(--first-color);
}

.social-link ion-icon:hover {

  color: var(--orange-color);
}

.column-mid {
  padding-top: 1.1rem;
  padding-right: 0.1rem;
}

.mid-number {
  margin-bottom: 1.8rem;
}

.mid-fb {
  margin-bottom: 1.8rem;
}

.mid-owner {
  padding: 0;
  margin: 0 auto;
  color: var(--orange-color);
  font-family: var(--font-nunito);
  font-weight: var(--small-font-size);
  margin-top: 2rem;
  /* margin-bottom: 1rem; */
  font-size: 0.9rem;
  text-align: center;
}

/* all services */

.services {
  padding: 5%;
  background-color: transparent;
  border: none;
}

#dentures {
  height: 100%;
  width: 40%;
  padding: 2%;
  border-radius: 20px;
  background-color: var(--light-orange);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.service_description {
  color: var(--dark-color-alt);
  font-size: var(--small-font-size);
}


#denturesrow {
  color: var(--first-color);
  font-size: var(--small-font-size);
}

#all-services {

  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5%;
}



#service1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27.5rem;
}

#services-card1 {
  height: 100%;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  background-color: var(--light-color);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#services-card1 p {
  color: var(--first-color);
  font-size: var(--small-font-size);
}

#services-card1 h5 {
  color: var(--dark-color);
  font-size: var(--small-font-size);
}

#services-card1 img {
  width: 100%;
  height: 100%;
  max-height: 100%;

}

#services-card2 {
  height: 100%;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  background-color: var(--light-orange);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#services-card2 p {
  color: var(--first-color);
  font-size: var(--small-font-size);
}

#services-card2 h5 {
  color: var(--dark-color);
  font-size: var(--small-font-size);
}

#services-card2 img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

#owl-card-body2 {
  height: 60%;
  border-radius: 20px;
}

.title-services {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-services h1 {
  font-size: 2rem;
  font-family: var(--font-nunito);
  font-weight: bolder;
}