/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 4rem;

  /*===== Colores =====*/
  --first-color: #3785F9;
  --light-color: #D2E3FC;
  --dark-color: #000000;
  --dark-color-alt: #5E6063;
  --white-color: #fff;
  --orange-color: #F88646;
  --dark-orange: #f06717;
  --light-orange: #F9F5EC;
  --first-color: #3785F9;
  --dark-color: #000000;
  --dark-color-alt: #282B3A;
  --white-color: #fff;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --font-nunito: 'Nunito Sans', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}



@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

html {
  scroll-behavior: smooth;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
}


/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  box-shadow: 0 7px 4px rgba(126, 175, 249, 0.4);
}

.header__logo {
  color: var(--first-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--first-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
  }

  .nav__menu {
    margin-top: -20%;
  }

  .nav__name {
    font-size: medium;
  }

  .nav a,
  li {

    color: var(--white-color);
    text-align: center;
  }

  .bd-grid {
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

#nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 5rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--first-color);
  border-radius: 50%;
  cursor: pointer;
  color: var(--white-color);
}


.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: .25rem;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;

}

.nav__name {
  display: block;
  color: var(--first-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.25rem 0;
}

.nav__link {
  color: var(--first-color);
  font-weight: lighter;
}

.nav__list li {
  text-decoration: none;
}

.nav__social {
  padding-top: .5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--first-color);
  margin-right: 1rem;
}

.social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }

  .header__logo,
  .header__toggle {
    display: none;
  }

  .nav {
    width: 100%;
  }

  #nav__content {


    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    column-gap: 1rem;

    -ms-grid-columns: (max-content)[3];
    -ms-grid-rows: 1fr;
    -ms-flex-pack: justify;


    -webkit-column-gap: 1rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .nav__close,
  .nav__profesion {
    display: none;
  }


  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

  }

  .nav__img img {
    width: 26px;

  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__item {
    margin: 0 .25rem;
  }

  .nav__link {
    padding: .5rem .8rem;
    border-radius: .25rem;
  }

  .nav__link:hover {
    background-color: var(--first-color);
    color: var(--white-color);
  }

  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
  }
}

/* login / Sign up css */

.body-main {
  background-color: var(--light-color);
}

#main {
  margin: 0 auto;
  padding: 0;
  height: 44rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form-card {
  width: 60rem;
  padding: 2%;
  height: 30rem;

  border-radius: 30px;
  box-shadow: 0 8px 8px rgba(100, 150, 200, 0.3);
}


#form-row {
  columns: 200px 2;
  height: 100%;

}

#form-col1 {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0 auto;



}

#form-inner-card {

  width: 28rem;
  height: 100%;
  box-shadow: 0 8px 8px rgba(100, 150, 200, 0.1);
  border: none;
}

.form-title {
  font-size: 1.1rem;
}


.form-label {
  font-size: var(--small-font-size);
  color: var(--dark-color-alt);
}

::placeholder {
  font-size: 0.8rem;
}

.form-label {
  color: var(--dark-color-alt);
  font-weight: lighter;
}

.form-text {
  color: var(--dark-color-alt);
  font-weight: lighter;
  display: flex;
  justify-content: end;
}

.form-control {
  width: 20rem;
}

#form-btn {
  background-color: var(--orange-color);
  border: var(--orange-color);
  width: 20rem;
  border-radius: 20px;

  font-size: small;
}

.dh-acc {
  font-size: var(--small-font-size);
  font-family: var(--font-nunito);
  color: var(--dark-color-alt);
}

.dh-accs a {
  color: var(--orange-color);
  font-size: var(--small-font-size);
  font-family: var(--font-nunito);
}

/* form owl-carousel */

#form-inner-card {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;

  border: none;

}

#form-carousel {
  width: 29rem;
  margin: 0 auto;
  padding: 0;
}

#form-item1 {
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
  border: none;
  width: 100%;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: none;
  border: none;
}

#form-item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form-business-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

.form-business-name span {
  color: var(--orange-color);
}

/* form-media queries */

@media screen and (max-width: 850px) {

  .body-main {
    padding: 0;
    margin: 0 auto;
  }

  #main {
    padding: 10%;
  }

  #form-col2,
  #form-item1 img {
    display: none;
    opacity: 1;
    transition: opacity 0.1s ease;
  }
}

/* loader */

.hidden {
  display: none;
}

.loader-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  position: relative;
  background: none;
  border: none;
  color: #3785F9;
  border-color: #3785F9;

}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #999;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(61, 106, 255);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/* appointmend schedule */

.banner-services h3 {
  color: var(--first-color);
  font-family: var(--font-nunito);
  font-weight: bold;
  padding-left: 5%;
  padding-right: 5%;
}

.banner-services h4 {
  font-size: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

#banner-services {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.app p {
  padding-left: 40%;
}

/* footer */

.footer .owner {
  margin: 0 auto;
  padding: 4%;
  background-color: var(--first-color);
  height: 50px;


}

.footer p {
  color: #fff
}

/* set schedule form */

#card-form {
  margin: 0 auto;
  padding: 4%;
  width: 70%;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 7px 4px rgba(126, 175, 249, 0.4);
}

#cardform {
  box-shadow: 0 7px 4px rgba(126, 175, 249, 0.4);
  border-radius: 30px;
  padding: 2rem;
  width: 90rem;
}

.card-form-text {
  color: var(--first-color);
  font-size: var(--normal-font-size);
}

/* select procedures */


.btn-radio {

  color: #fff;
  background-color: var(--orange-color);
  width: 10rem;
  height: 3rem;
  text-align: center;

  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--small-font-size);
  transition-duration: 0.4s;
}

.btn-radio:hover {
  background-color: var(--dark-orange);
  color: #fff;
}

.btn-radio:active {
  background-color: var(--dark-orange);
  color: #fff;
}

.btn-check {
  display: none;
}

.btn-check:checked+.btn-radio {
  background-color: var(--first-color);
  color: #fff;
}

.appointment-submit {
  margin: 0 auto;

}

#app-submit {
  width: 10rem;
  background-color: var(--first-color);
  border-radius: 20px;
  font-family: var(--font-nunito);
}

#app-back {
  width: 10rem;
  background-color: var(--first-color);
  border-radius: 20px;
  font-family: var(--font-nunito);
}

/* .timeslot {
  width: 200px;
  padding: 10px;
  background-color: #f2f2f2;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
} */

.timeslots {
  color: var(--first-color);
  font-size: var(--normal-font-size);
}

.button-row {

  flex-wrap: wrap;
}

.button-row button {
  margin: 0 auto;
  padding: 0;
  flex-basis: calc(33.33% - 10px);
  /* Adjust the width based on the number of buttons */
  width: 9.5rem;
  height: 3rem;
  margin-block-end: 10px;
}

.btn-radio-ts {
  width: 6rem;
  height: 3rem;
  margin-block-end: 8px;
  background-color: var(--orange-color);
  font-size: var(--small-font-size);
  color: #fff;

  padding: 13px 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-basis: calc(33.33% - 10px);
}

.btn-radio-ts:hover {
  background-color: var(--dark-orange);
  color: #fff;
}

.btn-radio-ts:active {
  background-color: var(--first-color);
  color: #fff;
}

.btn-check:checked+.btn-radio-ts {
  background-color: var(--first-color);
  color: #fff;
}

.services-btn {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-left: 1.3rem;
}

/* "card update style */

#update_container {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;

}

#update_card {
  box-shadow: 0 7px 4px rgba(126, 175, 249, 0.4);
  height: 37rem;
  width: 50rem;
  margin-top: 5rem;
  padding: 3%;
}

.update_title {
  color: var(--first-color);
  font-weight: var(--normal-font-size);
}

#update_card button {
  width: 30%;
  border-radius: 50px;
  font-size: var(--small-font-size);
}

#inner .carousel-item {
  height: 30rem;
  background-color: transparent;
  text-align: center;
  padding: 20%;
  font-size: large;
  font-style: var(--font-nunito);
  color: var(--dark-color);
}

/* payment */
.gcash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem;

}

#gcash_card {

  width: 50rem;
  height: 30rem;
  border-radius: 30px;
  box-shadow: 0 7px 4px rgba(126, 175, 249, 0.4);
}