/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 4rem;

  /*===== Colores =====*/
  --first-color: #3785F9;
  --light-color: #D2E3FC;
  --dark-color: #000000;
  --dark-color-alt: #5E6063;
  --white-color: #fff;
  --orange-color: #F88646;
  --light-orange: #F9F5EC;
  --first-color: #3785F9;
  --dark-color: #000000;
  --dark-color-alt: #282B3A;
  --white-color: #fff;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --font-nunito: 'Nunito Sans', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}



@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

html {
  scroll-behavior: smooth;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
}


/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  box-shadow: 0 7px 4px rgba(126, 175, 249, 0.4);
}

.header__logo {
  color: var(--first-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--first-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
  }

  .nav__menu {
    margin-top: -20%;
  }

  .nav__name {
    font-size: medium;
  }

  .nav a,
  li {

    color: var(--white-color);
    text-align: center;
  }

  .bd-grid {
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

#nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 5rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--first-color);
  border-radius: 50%;
  cursor: pointer;
  color: var(--white-color);
}


.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: .25rem;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;

}

.nav__name {
  display: block;
  color: var(--first-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.25rem 0;
}

.nav__link {
  color: var(--first-color);
  font-weight: lighter;
}

.nav__list li {
  text-decoration: none;
}

.nav__social {
  padding-top: .5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--first-color);
  margin-right: 1rem;
}

.social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }

  .header__logo,
  .header__toggle {
    display: none;
  }

  .nav {
    width: 100%;
  }

  #nav__content {
    -ms-grid-columns: (max-content)[3];
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav__close,
  .nav__profesion {
    display: none;
  }


  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

  }

  .nav__img img {
    width: 26px;

  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__item {
    margin: 0 .25rem;
  }

  .nav__link {
    padding: .5rem .8rem;
    border-radius: .25rem;
  }

  .nav__link:hover {
    background-color: var(--first-color);
    color: var(--white-color);
  }

  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
  }
}

/* login / Sign up css */

.body-main {
  background-color: var(--light-color);
}

#main {
  margin: 0 auto;
  padding: 0;
  height: 44rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form-card {
  width: 60rem;
  padding: 2%;
  height: 30rem;

  border-radius: 30px;
  box-shadow: 0 8px 8px rgba(100, 150, 200, 0.3);
}


#form-row {
  columns: 200px 2;
  height: 100%;

}

#form-col1 {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0 auto;



}

#form-inner-card {

  width: 28rem;
  height: 100%;
  box-shadow: 0 8px 8px rgba(100, 150, 200, 0.1);
  border: none;
}

.form-title {
  font-size: 1.1rem;
}


.form-label {
  font-size: var(--small-font-size);
  color: var(--dark-color-alt);
}

::placeholder {
  font-size: 0.8rem;
}

.form-label {
  color: var(--dark-color-alt);
  font-weight: lighter;
}

.form-text {
  color: var(--dark-color-alt);
  font-weight: lighter;
  display: flex;
  justify-content: end;
}

.form-control {
  width: 20rem;
}

#form-btn {
  background-color: var(--orange-color);
  border: var(--orange-color);
  width: 20rem;
  border-radius: 20px;

  font-size: small;
}

.dh-acc {
  font-size: var(--small-font-size);
  font-family: var(--font-nunito);
  color: var(--dark-color-alt);
}

.dh-accs a {
  color: var(--orange-color);
  font-size: var(--small-font-size);
  font-family: var(--font-nunito);
}

/* form owl-carousel */

#form-inner-card {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;

  border: none;

}

#form-carousel {
  width: 29rem;
  margin: 0 auto;
  padding: 0;
}

#form-item1 {
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
  border: none;
}

#form-item1 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: none;
  border: none;
}

.form-business-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

.form-business-name span {
  color: var(--orange-color);
}

/* form-media queries */

@media screen and (max-width: 850px) {

  .body-main {
    padding: 0;
    margin: 0 auto;
  }

  #main {
    padding: 10%;
  }

  #form-col2,
  #form-item1 img {
    display: none;
    opacity: 1;
    transition: opacity 0.1s ease;
  }
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  transition: opacity 1.50s, visibility 1.50s;
}

.loader--hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 1.50s ease infinite;
}

@keyframes loading {
  from {transform: rotate(0turn);}
  to {transform: rotate(2turn);}
}

/* main registration */


/* modal */

#modalBody {

  background-color: var(--light-orange);
  padding: 10%;
  margin: 0 auto;
}
#modalBody input{
  border-radius: 10px;
}
.modal-content{
  background-color: var(--light-orange);
}

#modalBody button{
  width: 100%;
  border-radius: 50px;
  background-color: var(--orange-color);
  border: none;
}

